@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

/* ------------------NAV STYLING---------------- */
nav{
    padding-top: 30px;
}
.nav-link{
    font-size: 20px;
}


/* ------------------HEADER STYLING---------------- */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 93vh;
    
}
.title-two{
    display: flex;
    justify-content: center;
}
h4{
    font-size: 40px;
}
.title-one{
    font-size: 75px;
    
}
/* ------------------About Me STYLING---------------- */
.about-me{
    height: 100vh;
}

.about-me-container{
    padding: 75px 20px;
}

.section-title{
    font-size: 50px;
    padding-bottom: 15px;
}

.about-me-text{
    font-size: 20px;
    text-align: justify;
}
/* ------------------Skills STYLING---------------- */
.gray{
    filter: grayscale(100%);
}
.filtered-skill{
    scale: 1.25;
}
.skill-logo{
    height: 75px;
    margin: 5px;
    /* filter: grayscale(100%); */
}
.skill-logo:hover{
    scale: 1.5;
}
